/* Set box-sizing to include padding and borders in element's total width */
* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Set background color of body */
body {
    background-color: #d9dcd6;
}

/* Styling for header section */
.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #2a607c;
    color: #ffffff;    
}

/* Styling for h1 element inside header */
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/* Styling for .seo class inside header h1 */
.header h1 .seo {
    color: #d9dcd6;
}

/* Styling for div inside header */
.header div {
    display: inline;
    font-size: 20px;
    margin-right: 20px;
    padding-top: 15px;    
}

/* Styling for ul inside div inside header */
.header div ul {
    list-style-type: none;
    display: flex;
}

/* Styling for li inside ul inside div inside header */
.header div ul li {    
    margin-left: 25px;
}

/* The following code sets the display property of <main> element to flex, allowing its child elements to be positioned in a flexible manner */
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;    
}

/* Styling for all anchor tags */
a {
    color: #ffffff;
    text-decoration: none;
}

/* Styling for all paragraphs */
p {
    font-size: 16px;
}

/* Styling for hero section */
.hero {
    background: url("../images/digital-marketing-meeting.jpg") center/cover;
    height: 800px;
    margin-bottom: 25px;
    width: 100%;
}

/* Styling for elements with .float-left class */
.float-left {
    float: left;
    margin-right: 25px;
}

/* Styling for elements with .float-right class */
.float-right {
    float: right;
    margin-left: 25px;
}

/* Styling for content section */
.content {
    display: inline-block;
    margin-left: 20px;
    width: 75%;
}

/* Styling for benefits section */
.benefits {
    background-color: #2589bd;
    color: #ffffff;
    margin-right: 20px;
    padding: 20px;
    width: 20%;
}

/* Styling for specific elements inside benefits section */
.benefit-lead,
.benefit-brand,
.benefit-cost {
    margin-bottom: 32px;
}

/* Adjust styles for headings and images within benefit sections */
.benefit-lead h3,
.benefit-brand h3,
.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* This code adjusts the styling for images within specific benefit sections, making them block-level elements with margin for spacing and horizontal centering, and limiting their maximum width to maintain proper sizing and aspect ratio. */
.benefit-lead img,
.benefit-brand img,
.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Styling for sections with specific class names */
.search-engine-optimization,
.online-reputation-management,
.social-media-marketing {
  background-color: #0072bb;
  color: #ffffff;
  min-height: 300px;
  margin: 0 20px 20px 0;
  padding: 50px;
}

/* Styling for specific elements inside sections with class names */
.search-engine-optimization h2,
.online-reputation-management h2,
.social-media-marketing h2 {
    font-size: 36px;
    margin-bottom: 20px;
}
/* This code adjusts the styling for images within specific sections, limiting their maximum height and vertically centering them within their container. */
.search-engine-optimization img,
.online-reputation-management img,
.social-media-marketing img {
    max-height: 200px;
    margin-top: auto;
    margin-bottom: auto;
}

/* Styling for footer section */
.footer {
    padding: 30px;
    text-align: center;
    clear: both;
}

/* Styling for h2 element inside footer */
.footer h2 {
    font-size: 20px;
}

/* When the screen width is 980 pixels or less, the layout and styling of the content, div elements, specific sections, and the benefits section are adjusted to provide a more responsive and user-friendly design for smaller screens. */
@media screen and (max-width: 980px) {
    /*This adjusts the flex container to stack its child elements vertically.*/
    .content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    /* This code aims to create a column layout for the specified sections and center their child elements both vertically and horizontally within those sections. */
    .search-engine-optimization,
    .online-reputation-management,
    .social-media-marketing {
        display: flex;
        flex-direction: column;    
        align-items: center;        
    }
    /* The .benefits section is adjusted to have its content horizontally centered create some spacing. */
    .benefits {
        justify-content: center;
        height: auto;
        margin: 0 auto 20px auto;
        width: 75%;
    }
}

/* when the screen width is 768 pixels or less, the layout and styling of the content, div elements, specific sections, and the benefits section are adjusted to provide a more responsive and user-friendly design for smaller screens. */
@media screen and (max-width: 768px) {
    .content {
        flex-direction: column;       
    }

    div {
        justify-content: center;
    }
    /* The specific sections are adjusted to fill the available space and have their content horizontally centered. */
    .search-engine-optimization,
    .online-reputation-management,
    .social-media-marketing {
        flex: 1 0 100%;
        justify-content: center;
        height: auto;
        margin-bottom: 20px;
        padding: 50px;
    }
    /* The .benefits section is adjusted to have its content horizontally centered create some spacing. */
    .benefits {
        justify-content: center;
        height: auto;
        margin: 0 auto 20px auto;
        width: 75%;
    }

}

/* When the screen width is 576 pixels or less, the content and the navigation list inside the header should be centered vertically and horizontally, providing a more responsive and user-friendly layout for smaller screens. */
@media screen and (max-width: 576px) {
    /* This adjusts the flex container to stack its child elements vertically.*/
    .content{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    /* This code adjusts the styling for unordered lists inside .header div, removing default bullet points or numbering, and creating a vertically stacked column layout with centered list items both horizontally and vertically within the container. */
    .header div ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
                
    }
   
}
 